# dependencies
node_modules/
client/node_modules/
server/node_modules/

# env & secrets
.env
*.env
!.env.example

# build output
dist/
build/
.vite/
client/.vite/

# prisma
server/prisma/*.db
server/prisma/*.db-journal

# uploads
server/uploads/*
!server/uploads/.gitkeep

# logs & OS
*.log
.DS_Store
Thumbs.db
